{% extends 'base.html' %}
{% block content %}
<main class="flex-grow-1">
  <div class="container-lg mt-3">
    <h1>Сайты</h1>
    <div class="table-responsive">
      <table class="table table-bordered table-hover text-nowrap" data-test="urls">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Сайт</th>
            <th scope="col">Дата последней проверки</th>
            <th scope="col">Код ответа</th>
          </tr>
        </thead>
        {% for url in all_urls_checks %}
        <tbody>
          <tr>
            <td>{{ url.id }}</td>
            <td>
              <a href="/urls/{{ url.id }}">{{ url.name }}</a><br>
            </td>
            <td>{{ url.created_at }}</td>
            <td>{{ url.status_code }}</td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
    </div>
  </div>
  </main>

{% endblock %}

